@tailwind base;
@tailwind components;
@tailwind utilities;

.tabulator .tabulator-header {
  background-color: white !important;
  color: black !important;
}

.tabulator-container {
  height: 500px;
}

@media (max-width: 768px) {
  .tabulator-container {
    height: 440px;
  }
}

@media (max-width: 480px) {
  .tabulator-container {
    height: 400px;
  }
}
